<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Petition Project</title>
        <link rel="stylesheet" href="./css/icofont.min.css">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        {{#if showSubMenu}}
            <div id="subnavi" >
            {{#if firstname}}
            Hello, {{firstname}}
            {{/if}}
            <a href="/profile-edit">
            <i class="icofont-id"></i>
            </a>
            <a href="/logout" alt="LOGOUT">
            <i class="icofont-logout"></i>
            </a>
        </div>
        {{/if}}
        <header>
                <a href="/">
                <img src="./assets/noun_clipboard_166326.svg">
                <strong>Petition</strong> Project
                </a>

            <img id="hamburger" src="assets/hamburgermenu.svg" />
        </header>

        <div id="hamburger-menu" class="">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    {{#if showSubMenu}}
                    <li><a href="/sign-petition">Sign petition</a></li>
                    {{/if}}
                    <li><a href="/signers">Signers</a></li>
                    <li class="smaller-li"><a href="/login">Login</a></li>
                    <li class="smaller-li"><a href="/register">Register</a></li>
                    <li class="smaller-li"><a href="/credits">Credits</a></li>
                </ul>
            </nav>
            <a id="close">x</a>
        </div>

        <content>
            <div class="hero">
                <img src="./assets/server-room.png" />
            </div>

            <main>
                {{{body}}}
            </main>
        </content>

        <footer>
            Ea sunt id adipisicing minim sunt sunt.
        </footer>
        <script src="./jquery-3.5.1.min.js"></script>
        <script src="./browser-canvas-sign.js"></script>
        <script src="./script-menu.js"></script>
    </body>
</html>