<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Petition Project</title>
        <link rel="stylesheet" href="./css/icofont.min.css">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        {{#if login}}
            <a href="/logout">
            <div id="subnavi" class="logout"><i class="icofont-logout"></i>LOGOUT</div>
            </a>
        {{/if}}
        <header>
            <a href="/">
            <img src="./assets/noun_clipboard_166326.svg"
                 height="60px">
            <strong>Petition</strong> Project
            </a>
        </header>

        <main>
            {{{body}}}
        </main>

        <footer>
            Credits Ea sunt id adipisicing minim sunt sunt.
            <!-- Icon: https://thenounproject.com/search/?q=petition&i=166326
                       clipboard by Veronika Geertsema König from the Noun Project
                       Optimisation by myself 🤓 
            -->
        </footer>
        <script src="./jquery-3.5.1.min.js"></script>
        <script src="./browser-canvas-sign.js"></script>
    </body>
</html>