<h1>Thanks to</h1>
<p>
Elit mollit proident ad incididunt ad laboris commodo laborum pariatur ex. Nostrud
in amet cillum occaecat consequat irure id nulla et adipisicing tempor do voluptate.
Id ex qui laboris sit officia laboris esse nulla velit ut.
</p>
<p>
    THE BIG PETITION ICON<br>
    <a href="https://thenounproject.com/search/?q=petition&i=166326">
        <img src="./assets/noun_clipboard_166326.svg" height="40px;">
    </a>
    <br>
    Clipboard by Veronika Geertsema König from the Noun Project<br>
    Optimisation by myself 🤓
</p>
<p>
    THE HERO PICTURE (ORIGINAL)<br>
        <a href="https://unsplash.com/@the9th?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
        <img src="./assets/server-room.png" height="100px;">
        </a>
        <br>
        Photo by THE 9TH Coworking on Unsplash.com
</p>

