<h1>Add some headlines.</h1>
<p>
{{#if firstname}}
<h2>Hello, {{firstname}}!</h2>
{{/if}}
Elit mollit proident ad incididunt ad laboris commodo laborum pariatur ex. Nostrud
in amet cillum occaecat consequat irure id nulla et adipisicing tempor do voluptate.
Id ex qui laboris sit officia laboris esse nulla velit ut.
</p>
{{#if login}}
{{else}}
<a href="/login"><button>Login</button></a>
<a href="/register"><button>Register</button></a>
{{/if}}