<h2>Where is the router?</h2>
<h1>Regulation ยง25b paragraph 5 ITGB for server cabinets</h1>
<p>
We are a bunch of IT admins who spend a lot of time every day searching for hardware in the vastness of the server rack. We could all save ourselves a lot of time and, above all, nerves, if we finally made the regulation ยง25b para. 5 ITGB for server cabinets public. With your signature you help us, yourselves and the nerves of many other IT administrators.
</p>
{{#if login}}
{{else}}
<a href="/login"><button>Login</button></a>
<a href="/register"><button>Register</button></a>
{{/if}}