<h1>Login</h1>
<p>
With an account you become part of our large community. We still have a lot of plans. There are many more big topics that keep us motivated. Please fill in the form.
</p>
{{#if error}}
<span class="errorMsg">
<i class="icofont-exclamation-tringle"></i> {{error}}
</span>
{{/if}}
<form action="/login" method="post">

    <input type="email" name="email" id="email" placeholder="jane@doe.com">

    <input type="password" name="password" id="password" placeholder="Your password">

    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <button>Login</button>

</form>

<a href="/register"><button class="sub">Not registered yet? Get an account here.</button></a>