<h1>Add some headlines.</h1>
<p>
Logout successful. Id ex qui laboris sit officia laboris esse nulla velit ut.
</p>
<a href="/login"><button>Login</button></a>
<a href="/register"><button>Register</button></a>