<h2>THANK YOU,  {{signature.firstname}}!</h2>
<p>
    With your signature...
</p>
<img src="{{signature.signature_code}}">
<p>
    ...cillum nulla occaecat nisi laboris consequat.
    Fugiat ea Lorem laborum ea officia ipsum. Consectetur
    commodo sit quis culpa eiusmod reprehenderit non cillum
    aute nulla anim aute veniam commodo.
</p>
<p>
    Check out the people, who are with you and have 
    already signed the petition, too.
</p>
<a href="/signers">
<button>
    Go to signers page.
</button>
<a href="/profile-edit">
<button>
    Go to your profile page.
</button>
</a>
<form action="/remove-sig" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>Unsign the petition</button>
</form>