<h2>THANK YOU,  {{signature.firstname}}!</h2>
<p>
    With your signature...
</p>
<img src="{{signature.signature_code}}">
<p>
    ...With your signature, we are all a big step closer to finally implementing the regulation ยง25b para. 5 ITGB for server cabinets. IT administrators are also just people with nerves, too.
</p>
<p>
    Check out the people, who are with you and have 
    already signed the petition, too.
</p>
<a href="/signers">
<button>
    Go to signers page.
</button>
<a href="/profile-edit">
<button>
    Go to your profile page.
</button>
</a>
<form action="/remove-sig" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>Unsign the petition</button>
</form>